.board {
  background: rgb(16, 172, 99);
  height: 100%;
  outline: 0.125rem solid red;
}

.circle-center {
  fill: orange;
}

.inner {
  background: coral;
  height: 100%;
  outline: 0.2rem solid green;
}

.svg-board {
  fill: orange;
  stroke: rebeccapurple;
  outline: 0.125rem dashed hotpink;
}
